#happyButton {
  background-color: rgb(224, 236, 227);
  border-radius: 5px;
  border-color: #d8d3cd;
}

#madButton {
  background-color: rgb(224, 236, 227);
  border-radius: 5px;
  border-color: #d8d3cd;
}

#sadButton {
  background-color: rgb(224, 236, 227);
  border-radius: 5px;
  border-color: #d8d3cd;
}

#kindaSadButton {
  background-color: rgb(224, 236, 227);
  border-radius: 5px;
  border-color: #d8d3cd;
}

#randomButton {
  background-color: rgb(224, 236, 227);
  border-radius: 5px;
  border-color: #d8d3cd;
  height: 57px;
  width: 57px;
}

.madButtonDiv {
padding-top: 8px;
}

.sadButtonDiv {
padding-top: 8px;
}

.kindaSadButtonDiv {
padding-top: 8px;
}

.randomButtonDiv {
padding-top: 8px;
}
